########################
### POWERLINE ARROWS ###
########################

[module/arrow-red]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.red}
content-background = ${colors.magenta} 

[module/arrow-end]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.cyan}
content-background = ${colors.background} 

[module/arrow-green]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.green}
content-background = ${colors.red}

[module/arrow-yellow]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.yellow}
content-background = ${colors.green}

[module/arrow-blue]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.blue}
content-background = ${colors.yellow} 

[module/arrow-magenta]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.magenta} 
content-background = ${colors.cyan} 

[module/arrow-cyan]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.cyan}
content-background = ${colors.blue}

[module/arrow2]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.magenta} 
content-background = ${colors.background}


###############
### MODULES ###
###############

[module/date]
type = internal/date

format =  <label>
label  = %date% 
date   = %d-%m%
format-background = ${colors.magenta}

[module/time]
type = internal/date 

format = " <label>  "
label  = %time% 
time   = %H:%M 
format-background = ${colors.red}

[module/i3]
type = internal/i3

format =  <label-mode> <label-state>

index-sort      = false
enable-click    = false
enable-scroll   = false
wrapping-scroll = false


label-mode-padding    = 3
label-mode-foreground = #000
label-mode-background = #FFF 

# focused = Active workspace on focused monitor
label-focused            = %index%
label-focused-background = #FFFFFF
label-focused-padding    = 3

# unfocused = Inactive workspace on any monitor
label-unfocused          = %index%
label-unfocused-padding  = 3

# visible = Active workspace on unfocused monitor
label-visible            = %index%
label-visible-background = ${self.label-focused-background}
label-visible-padding    = 3

# urgent = Workspace with urgency hint set
label-urgent             = %index%
label-urgent-background  = #FFFFFF 
label-urgent-padding     = 3


#[module/mpd]
#type = internal/mpd

#format-online = <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>
#icon-prev  = 
#icon-stop  = 
#icon-play  = 
#icon-pause = 
#icon-next  = 
#label-song-maxlen   = 25
#label-song-ellipsis = true

[module/bspwm]
type = internal/bspwm

background     = ${colors.magenta}
pin-workspaces = true
inline-mode    = false
enable-click   = false
enable-scroll  = false
reverse-scroll = false
fuzzy-match    = false


label-focused-background  = ${colors.cyan}
label-focused-padding     = 2
label-empty-padding       = 2
label-empty               = 
label-occupied-background = ${colors.magenta} 
label-occupied-padding    = 2
; The following labels will be used to indicate the layout/mode
; for the focused workspace. Requires <label-mode>
;
; Available tokens:
;   None

# format = <label-state><label-mode>
# 
# label-monocle = "  monocle"
# label-monocle-background = ${colors.magenta}
# label-tiled = "  tiled"
# label-tiled-background = ${colors.magenta}
# label-fullscreen = "  fullscreen"
# label-fullscreen-background = ${colors.magenta}
# label-floating = "  floating"
# label-floating-background = ${colors.magenta}
# label-pseudotiled = "  pseudotiled"
# label-locked = "  locked"
# label-locked-background = ${colors.magenta}
# label-sticky = "  sticky"
# label-sticky-background = ${colors.magenta}
# label-private = "  private"
# label-private-background = ${colors.magenta}
# label-marked = "  marked"
# label-marked-background = ${colors.magenta}

[module/cpu]
type = internal/cpu

interval      = 1
format        = <label> <ramp-coreload> 
format-prefix = ""
#label-font   = 3
label         = %percentage:3%%

format-background = ${colors.yellow}

ramp-coreload-spacing      = 1
ramp-coreload-0            = ▁
ramp-coreload-1            = ▂
ramp-coreload-2            = ▃
ramp-coreload-3            = ▄
ramp-coreload-4            = ▅
ramp-coreload-5            = ▆
ramp-coreload-6            = ▇
ramp-coreload-7            = █


#ramp-load-0 = ▁
#ramp-load-1 = ▂
#ramp-load-2 = ▃
#ramp-load-3 = ▄
#ramp-load-4 = ▅
#ramp-load-5 = ▆
#ramp-load-6 = ▇
#ramp-load-7 = █


[module/memory]
type = internal/memory

interval = 2
label    =  %mb_used%
format-background = ${colors.blue}


[module/eth]
type = internal/network

interface = enp0s31f6
interval  = 5

format-connected        = <label-connected>
format-connected-prefix = " "
label-connected         = %local_ip%



format-disconnected        = <label-disconnected>
format-disconnected-prefix = " "
label-disconnected         = disconnected


format-connected-background = ${colors.cyan}
format-disconnected-background = ${colors.cyan}

[module/alsa]
type = internal/alsa

format-volume = <ramp-volume> <label-volume>
label-muted   =  婢 muted

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

format-volume-background = ${colors.red}
format-muted-background = ${colors.red}
#bar-volume-width = 10
#bar-volume-gradient = false
#bar-volume-indicator = |
#bar-volume-indicator-font = 1
#bar-volume-fill = ─
#bar-volume-fill-font = 1
#bar-volume-empty = ─
#bar-volume-empty-font = 1


[module/temperature]
type = internal/temperature

interval = 3

# List all thermal zones with:
#  $ for i in /sys/class/thermal/thermal_zone*; do echo "$i: $(<$i/type)"; done
thermal-zone = 2

# /sys/devices/platform/coretemp.0/hwmon/hwmon2/temp1_input
hwmon-path       = 
base-temperature = 20
warn-temperature = 60



format      = <ramp> <label>
format-background = ${colors.green}
format-warn = <ramp> <label-warn>
label       = %temperature-c%
label-warn  =  %temperature-c%

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 

[module/cmus]
type = custom/script

exec = ~/.config/polybar/modules/cmus.sh
exec-if = pgrep -x cmus
interval = 5
format-foreground=${colors.foreground-alt} 
format = <label>
label =  %output%

[module/system-nvidia-smi]
type = custom/script
exec = ~/.config/polybar/modules/system-nvidia-smi.sh
interval = 3
format-foreground = ${colors.foreground}
format-background = ${colors.magenta}
format = <label>
label =  %output%



[module/updates-arch-aur]
type = custom/script
exec = ~/.config/polybar/modules/updates-arch-aur.sh
interval = 600
format-foreground = ${colors.foreground}
format-background = ${colors.cyan}
format = <label>
label =  %output%

# vim:ft=dosini
